n8n-workflow.json
{
  "nodes": [
    {
      "id": "Webhook Trigger",
      "parameters": {
        "path": "chatbot-hook",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "id": "HTTP to AI",
      "parameters": {
        "url": "https://your-ai-chatbot-api.com/ask",
        "method": "POST",
        "authentication": "none",
        "responseFormat": "json",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"message\": \"{{$json[\"body\"][\"message\"]}}\"}"
      },
      "name": "Call AI Chatbot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "id": "Return Response",
      "parameters": {
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {},
        "statusCode": 200
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call AI Chatbot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI Chatbot": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
